<p id="notice"><%= notice %></p>

<p>
  <strong>Student name:</strong>
  <%= @time_group.student_name %>
</p>

<p>
  <strong>Month:</strong>
  <%= @time_group.month %>
</p>

<p>
  <strong>Day:</strong>
  <%= @time_group.day %>
</p>

<p>
  <strong>Total min:</strong>
  <%= @time_group.total_min %>
</p>

<%= link_to 'Edit', edit_time_group_path(@time_group) %> |
<%= link_to 'Back', time_groups_path %>
